<div class="blog-post">
  <h4 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h4>
  <em><p class="blog-post-meta">Published <%=distance_of_time_in_words(blog.created_at, Time.now) %> ago</p></em>
<div class="wordcount">
  <i class="fa fa-clock-o"></i>
  <span><%=pluralize(blog.reading_time, 'minute')%></span>
</div>
  <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>
  <p><%= truncate(markdown(blog.body), length: 600, escape: false) %></p>
  <%= link_to "Continue reading", blog %>
</div>
