<div class="col-sm-8 blog-main">
  <h3><%= link_to 'Write a new blog post', new_blog_path if logged_in?(:site_admin) %></h3>
  <h4><%= @blog.title %></h4>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin)%> |
  <p><%= @blog.body %></p>
  <%= link_to 'Back', blogs_path, class: 'btn btn-secondary btn-lg' %>

  <% unless current_user.is_a? GuestUser %>
    <%= form_for @comment, url: '#' do |f| %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
      <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
    <%= render @blog.comments %>
  </div>
