
<%= form_with(model: @portfolio_item, local: true) do |form| %>
<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :subtitle %>
  <%= form.text_area :subtitle %>

</div>  <div class="field">
  <%= form.label :body %>
  <%= form.text_area :body %>
</div>

<ul>
  <%= form.fields_for :technologies do |techonology_form|%>
  <li>
    <%= techonology_form.label :name %>
    <%= techonology_form.text_field :name %>
  </li>
  <%end%>
</ul>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>
