<div class="col-lg-4 col-md-6 col-sm-10-offset-2">

  <div class="card mb-4 box-shadow">
    <%= link_to portfolio_show_path(portfolio_item) do %>
    <!--       <div class="card__image border-tlr-radius"> -->
      <%= image_tag portfolio_item.thumb_image, width:'100%'%>
      <!--       </div> -->
      <div class="card__content card__padding">
        <div class="card__share">
          <a id="share" class="share-toggle share-icon" href="http://github.com/chrisnopa/"></a>
        </div>
        <div class="card__meta time">
          <time><p><%=portfolio_item.created_at.strftime("Created on %m/%d/%Y")  %></p></time>
        </div>
        <article class="card__article">
          <h2 id="item-title"><%= portfolio_item.title %></h2>
          <p class="card-text"><%= portfolio_item.subtitle %></p>
        </article>
      </div>
      <% end %>
    </div>
  </div>
<!--
<div class="row">
  <div class="example-1 card">
    <div class="wrapper">
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title"><a href="#">Boxing icon has the will for a couple more fights</a></h1>
          <p class="text">The highly anticipated world championship fight will take place at 10am and is the second major boxing blockbuster in the nation after 43 years.</p>
      </div>
    </div>
  </div>
-->
