<div class="col-lg-4 col-md-6 col-sm-10-offset-2">
  <div class="card mb-4 box-shadow">
      <%= link_to portfolio_show_path(portfolio_item) do %>
          <div class="card-body" data-id="<%=portfolio_item.id%>">
            <span>
              <h4><%= portfolio_item.title %></h4>
            </span>
            <p class="card-text"><%= portfolio_item.subtitle %></p>
            <%= image_tag portfolio_item.thumb_image, width:'100%'%>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
      <% end %>
    </div>
  </div>

<!--
<div class="row">
  <div class="example-1 card">
    <div class="wrapper">
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title"><a href="#">Boxing icon has the will for a couple more fights</a></h1>
          <p class="text">The highly anticipated world championship fight will take place at 10am and is the second major boxing blockbuster in the nation after 43 years.</p>
      </div>
    </div>
  </div>
 -->
