<div class="col-lg-4 col-md-6 col-sm-10-offset-2">
  <div class="card mb-4 box-shadow">
      <%= link_to portfolio_show_path(portfolio_item) do %>
          <div class="card-body" data-id="<%=portfolio_item.id%>">
            <span>
              <h4><%= portfolio_item.title %></h4>
            </span>
            <p class="card-text"><%= portfolio_item.subtitle %></p>
            <%= image_tag portfolio_item.thumb_image.variant(resize: "200X200") unless portfolio_item.thumb_image.nil?%>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
      <% end %>
    </div>
  </div>


<div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("placeimg_350_350_nature.jpg", alt: "placeholder image 1",
                                          class: "img-responsive")  %>
</div>
