<h1>Portfolio items</h1>

<%=link_to "Create a new item",  new_portfolio_url%>

<%@portfolio_items.each do |portfolio_item| %>
  <p><%= link_to portfolio_item.title, portfolio_path(portfolio_item.id) %></p>
  <p><%= portfolio_item.subtitle %></p>
  <p><%= portfolio_item.body %></p>
  <p><%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %></p>
  <%= link_to "Edit portfolio", edit_portfolio_path(portfolio_item.id) %>
<% end %>
