<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio_item.main_image, class:"img-fluid", alt:"Responsive image"%>
    </div>
    <div class="col-md-5 item-style">
      <h1><%= @portfolio_item.title %></h1>
      <em><%= @portfolio_item.subtitle %></em>
      <p><%= @portfolio_item.body %></p>
      <h3>Technologies used:</h3>
      <%@portfolio_item.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>
      <%= link_to "View all portfolio items", portfolios_path %>
    </div>
  </div>
</div>
