<div class="<%=location%>">
  <%=link_to "Home", root_path%>
  <%= link_to "About me", about_me_path %>
  <%=link_to "Contact", contact_path %>
  <%= link_to "Blog", blogs_path%>
  <%= link_to "Portfolio", portfolios_path %>
</div>
